@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

html {
  background-color: lightcoral;
}

.some-div {
  max-height: 100%;
  width: 500px;
  display: block;
}
